*{
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, sans-serif;
  align-content: center;
}

main {
  background: url("images/background.png") fixed center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

main div::-webkit-scrollbar{
  display: none;
}

/* CONTAINERS ------------------------------------------------------------------------------------ */

.container{
  /* display: grid;
  place-content: center;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  width: 85%;
  height: 100%;
  backdrop-filter: blur(4px); */

  display: flex;
  padding: 0 50px 0 50px;
  height: 80%;
  max-height: 800px;
}

.leftPanel, .leftPanelMain{
  -ms-overflow-style: none; 
  scrollbar-width: none;

  overflow: auto;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 370px;
  max-width: 500px;
  min-height: 800px;
  /* max-height: 80%; */
  /* height: 100%; */
  /* min-height: 90vh; */
  padding: 20px;
  border: 0.1rem solid rgba(136, 144, 255, 0.6);

  background: linear-gradient(172.91deg, rgba(255, 255, 255, 0.8) 0.01%, rgba(102, 88, 255, 0.248) 0.02%, rgba(0, 84, 132, 0.32) 98.48%);
  backdrop-filter: blur(6px);

  border-radius: 30px 0px 0px 30px;
}

.leftPanel{
  min-width: 370px;
}

.leftPanel::-webkit-scrollbar {
  display: none;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer{
  /* height: 100%; */
  border: 0.1rem solid rgba(136, 144, 255, 0.6);
  padding: 20px;
  min-height: 800px;
  min-width: 550px;
  border-left: none;

  overflow: auto;
  overflow-y: scroll;
  /* scrollbar-gutter: ; */

  background: linear-gradient(116.19deg, rgba(32, 47, 125, 0.48) 0.56%, rgba(180, 188, 231, 0.12) 99.66%);
  backdrop-filter: blur(7.5px);

  border-radius: 0 30px 30px 0;
}

.mainContainer::-webkit-scrollbar{
  width: 5px;
}

.mainContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.mainContainer::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: 1px solid #FFF;
}

/* DESCRIPTION COMPONENTS ------------------------------------------------------------------------------------- */

.perfil-photo{
  width: 180px;
  clip-path: circle(42% at 50% 40%);
}

.name{
  font-size: 33px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.profession{
  font-size: 18px;
  margin-bottom: 30px;
}

hr{
  border: 1px solid rgba(255, 255, 255, 0.6);
  width: 70%; 
}

.about-me{
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.description-text{
  font-size: 16px;
  margin-bottom: 100px;
  margin: 0 25px;
  text-align: center;
}

.buttons-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  margin-bottom: 30px;
}

.buttons-description i{
  font-size: 45px;
}

.buttonsSocialMedia{
  display: flex;
  gap: 30px;
  margin: 25px auto;
}

.buttonsSocialMedia a:hover{
  color: aqua;
}

.buttonsResponsive{
  display: flex;
  justify-items: center;
  justify-content: space-between;
  gap: 20px;
}

.contact, .buttonContact{
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100rem;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  background-color: #FFFFFF;
}

.buttonProjects{
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100rem;
  border: 1px solid rgba(136, 144, 255, 0.6);
  color: #FFF;
  background: linear-gradient(172.91deg, rgba(61, 127, 224, 0.726) 0%, rgba(148, 98, 241, 0.6) 0.01%, rgba(111, 97, 238, 0.559) 0.02%, rgba(175, 116, 243, 0.42) 0.03%, rgba(215, 124, 233, 0.18) 98.48%, rgba(236, 165, 227, 0.18) 98.48%);
  box-shadow: 0px 6px 8px rgba(5, 37, 85, 0.5);
}

.contact:hover, .buttonContact:hover, .buttonProjects:hover{
  cursor: pointer;
}

.buttonProjects i{
  font-size: 25px;
  color: #FFF;
}

.contact i, .buttonContact i, .btnGoBack{
  font-size: 25px;
  color: #000000;
}

.social-media{
  color: #000000;
}

.btnGoBack{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100rem;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  background-color: #FFFFFF;
}

.btnGoBack:hover{
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(160, 160, 160);;
}

/* PROJECTS COMPONENTS ---------------------------------------------------------------------------------------------- */

.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}

.projectList{
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-x: auto;
  /* height: 55px; */
  padding-top: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  
  /* box-shadow: -5px 0px #1817175e inset; */
}

.projectList::-webkit-scrollbar {
  display: none;
}

.navbar{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;
  width: auto;
  height: 35px;
  padding-bottom: 22px;
}

.navbar li {
  display: inline-block;
  
}

.navbar li label{
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  width: auto;
  padding: 15px;
  height: 35px;
  color: #000000;
  background: none;
  border: solid;
  border-color:  rgba(136, 144, 255, 0.6);
  border-radius: 100rem;
  color: #FFF;
  gap: 8px;
}

.navbar li label:hover{
  cursor: pointer;
  /* color: #000000;
  background-color: #FFF;
  border-color: #fff; */
}

/* .navbar li label:hover i{
  cursor: pointer;
  color: #000000;
  background-color: #FFF;
} */

.navbar li input[type="checkbox"]:checked + label {
  color: #000000;
  background-color: #FFF;
  border-color: #fff;
}

.navbar li input[type="checkbox"]:checked + label i{
  color: #000000;
  background-color: #FFF;
}

.navbar li input[type="checkbox"] {
  opacity: 0;
}

.project-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.project-card{
  background: linear-gradient(172.91deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 0.01%, rgba(255, 255, 255, 0.466146) 0.02%, rgba(255, 255, 255, 0.2) 0.03%, rgba(255, 255, 255, 0.05) 98.48%);
  backdrop-filter: blur(6px);
  box-shadow: 2px -2px 4px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px;
  text-decoration: none;
  width: 500px;
  min-height: 200px;
  display: flex;
  gap: 15px;
  /* align-items: flex-start; */
  /* justify-content: center; */
}

.imageProject{
  border-radius: 23%;
  object-fit: cover;
  max-width: 35%;
  min-width: 35%;
  height: auto;
  /* margin-right: 20px; */
}

.project-card h2{
  font-size: 25px;
  margin-bottom: 10px;
}

.project-card h2 i {
  right: 0;
}

.projectHeader{
  display: flex;
  flex-direction: column;
}

.titleProject{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleProject i{
  font-size: 25px;
}

.project-card:hover{
  cursor: pointer;
}

/* CONTACT STYLE ------------------------------------------------------------------------------------------- */

.contact-container .header{
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  color: #FFF;
  gap: 15px;
}

.form-contact label {
  font-size: 20px;
  text-align: left;
}

.form-contact input{
  width: 410px;
  font-size: 20px;
  padding: 0 14px 5px 44px;
  text-align: left;
  height: 50px;
}

.form-contact textarea{
  color: #FFF;
  width: 410px;
  font-size: 20px;
  padding: 5px 5px 5px 10px;
  resize: none;
}

.form-contact textarea::-webkit-scrollbar{
  width: 5px;
}

.form-contact textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.form-contact textarea::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: 1px solid #FFF;
}

.form-contact input::placeholder, textarea::placeholder{
  color: rgba(255, 255, 255, 0.3);
  
}

.form-contact input, .form-contact textarea{
  border: none;
  background: linear-gradient(172.91deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 0.01%, rgba(255, 255, 255, 0.466146) 0.02%, rgba(255, 255, 255, 0.2) 0.03%, rgba(255, 255, 255, 0.05) 98.48%);
  backdrop-filter: blur(6px);
  box-shadow: 2px -2px 4px rgba(255, 255, 255, 0.479);
  border-radius: 8px;
  /* padding: 25px; */
  /* gap: 15px; */
  
}

.form-contact i{
  /* color: #FFF; */
  position: absolute;
  width: auto;
  z-index: 1;
  margin-left: 15px;
  font-size: 18px;
  padding-bottom: 2px;
}

.input-icon{
  display: flex;
  align-items: center;
}

.form-contact input:focus, .form-contact textarea:focus{
  outline: none;
}

.sendMessage {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 410px;
  height: 40px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid rgba(136, 144, 255, 0.6);
  color: #FFF;
  background: linear-gradient(172.91deg, rgba(61, 127, 224, 0.726) 0%, rgba(148, 98, 241, 0.6) 0.01%, rgba(111, 97, 238, 0.559) 0.02%, rgba(175, 116, 243, 0.42) 0.03%, rgba(215, 124, 233, 0.18) 98.48%, rgba(236, 165, 227, 0.18) 98.48%);
  box-shadow: 0px 6px 8px rgba(5, 37, 85, 0.5);
}

.sendMessage:hover{
  cursor: pointer;
}

.sendMessage i{
  color: #FFF;

}

.zoomHover{
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  transition: all 0.5s ease;
}

.zoomHover:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.scaleHover{
  transition: all 0.5s ease;
}

.scaleHover:hover{
  transform: scale(1.15);
  /* transition: 0.5s; */
}

.scaleHoverCard{
  transition: all 0.5s ease;
}

.scaleHoverCard:hover{
  transform: scale(1.02);
}

.validForm{
  color: #ff6d6d;
  margin-top: -15px;
  font-size: 15px;
}

/* UI Phone ---------------------------------------------------- */

.projectsPhone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* RESPONSIVE ---------------------------------------------------------------------------------------------- */
/* min 900px width responsive */

@media (min-width: 901px) {
  .buttonsResponsive{
    display: none;
  }

  .leftPanel{
    display: none;
  }
}

@media (max-width: 900px) {
  .container{
    grid-template-columns: auto;
    justify-content: center;
  }

  .leftPanelMain{
    display: none;
  }

  .leftPanel{
    min-width: 360px;
  }

  .mainContainer{
    display: none;
    width: 0;
  }

  .leftPanel{
    border-radius: 30px;
    align-items: center;
    width: auto;
    max-width: 400px;
  }

  .buttons-description{
    gap: 40px;
    bottom: 0;
  }

  /* CARDS FOR PHONE */

  .navbar{
    width: 350px;
  }

  .project-cards{
    justify-content: center;
  }

  .project-card{
    padding: 12px;
    width: 350px;
    min-height: 150px;
  }
  
  .imageProject{
    height: 125px;
  }
  
  .project-card h2{
    font-size: 23px;
    margin-bottom: 8px;
  }
  
  .project-card p{
    text-align: left;
    font-size: 15px;
  }

  /* Form Contact*/

  .form-contact {
    margin-top: 60px;
  }

  .form-contact input{
    width: 300px;
  }
  
  .form-contact textarea{
    width: 300px;
  }

  .sendMessage {
    width: 300px;
  }

}

@media (max-width: 450px) {

  .project-card{
    width: 300px;
  }

  .imageProject{
    display: none;
  }
  
}